h1{
  font-family: system-ui;
  text-align: center;
  color: #333;
  padding-top: 60px;
  font-size: 90px;
}
h2{
  font-family: system-ui;
  text-align:center;
  padding-top: 20px;
  font-color: #000000;
  fomt-family: exo-2;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.exo-2-Header {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/**/

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    text-align: center;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
  text-align: center;
  padding: 3px;
  
}
