<!DOCTYPE html>
<html>
  <head>
    <title>Biology Search Engine</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">A Level Search Engine</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search Engines</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Biology</a>
                <a class="dropdown-item" href="/physics">Physics</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/add">Contribute</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/member">Join the team</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/donate">Support us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
              <a class="nav-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>
    <h2>Welcome, {{ session['username'] }}!</h2>
    <a href="/logout">Logout</a>
    <h1>A Level Biology Search Engine</h1>
    <h2>Explore Life's Mysteries: Dive into Our Biology Search Engine – Where Curiosity Meets Discovery!</h2>
    <div class="container">
      <h3>Bio Search</h3>
      <form action="/results" method="GET">
        <input type="text" name="query" placeholder="Enter your search query" required>
        <a href="/bio" target="_blank"><button type="submit">Search</button></a>
      </form>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.min.js"></script>
  </body>
</html>
